html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:'Bradley Hand ITC';
  font-weight:bold;
  background-color:#161414;
  color:white;
  
}

.nav-item1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .nav-item1:hover {
        background-color: #0cf7cc;
        border-radius: 10px;
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }

.nav-item1:active{
    transform:rotate(360deg);
    transition-duration:2s;
    text-decoration-line:underline;
}

.nav-item2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .nav-item2:hover {
        background-color: #0cf7cc;
        border-radius: 10px;
        
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }
.nav-item2:active {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.nav-item3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .nav-item3:hover {
        background-color: #0cf7cc;
        border-radius: 10px;
        
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }
.nav-item3:active {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.text-center {
    background-color: #161414;
    border-block-color: aliceblue;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 130px;
}

.heart {
    position: absolute;
    left: 200px;
    position: absolute;
    top: 140px;
    transform: rotate(-20deg);
}

.note {
    position: absolute;
    right: 200px;
    position: absolute;
    top: 240px;
}

.sum {
    position: absolute;
    right: 200px;
    position: absolute;
    top: 400px;
    transform:rotate(-20deg);
    font-size:15px;
    
    
}

.smile {
    position: relative;
    top: 100px;
    
}


