html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:'Bradley Hand ITC';
  font-weight:bold;
  background-color:#161414;
  color:white;
  
}

.nav-item1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .nav-item1:hover {
        background-color: #0cf7cc;
        border-radius: 10px;
      
    }

.nav-item1:active{
    transform:rotate(360deg);
    transition-duration:2s;
    text-decoration-line:underline;
}

.nav-item2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .nav-item2:hover {
        background-color: #0cf7cc;
        border-radius: 10px;
        
      
    }
.nav-item2:active {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.nav-item3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .nav-item3:hover {
        background-color: #0cf7cc;
        border-radius: 10px;
        
       
    }
.nav-item3:active {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.text-center {
    background-color: #161414;
    border-block-color: aliceblue;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 130px;
}

.heart {
    position: absolute;
    left: 200px;
    position: absolute;
    top: 140px;
    transform: rotate(-20deg);
}
.heart:hover{
    transform:rotate(360deg);
    transition-duration:1s;
}

.note {
    position: absolute;
    right: 200px;
    position: absolute;
    top: 240px;
}
    .note:hover {
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }


.sum1 {
    
    transform: rotate(20deg);
    position:absolute;right:400px;
    
}

    .sum1:hover {
        transform:rotate(340deg);
        transition-duration:0.5s;
        
        font-weight:bold;
       
    }

.sum2 {
    position: absolute;
    right: 350px;
}

.sum2:hover {
    transform: rotate(340deg);
    transition-duration: 0.5s;
    font-weight: bold;
}

.sum3 {
    position: absolute;
    right: 300px;
}

.sum3:hover {
    transform: rotate(340deg);
    transition-duration: 0.5s;
    font-weight: bold;
}

.sum4 {
    position: absolute;
    right: 250px;
}
.sum4:hover {
    transform: rotate(340deg);
    transition-duration: 0.5s;
    font-weight: bold;
}

.sum5 {
    position: absolute;
    right: 200px;
}

.sum5:hover {
    transform: rotate(340deg);
    transition-duration: 0.5s;
    font-weight: bold;
}

.smile {
    position: relative;
    top: 100px;
    
}

.smile:hover {
    transform: rotate(340deg);
    transition-duration: 0.5s;
  
}

