html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:'Bradley Hand ITC';
  font-weight:bold;
  background-color:#161414;
  color:white;
  
}

.nav-item1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
    background-color: #161414;
    border-block-color: aliceblue;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.heart {
    position: absolute;
    left: 200px;
    position: absolute;
    top: 140px;

}

.note {
    position: absolute;
    right: 200px;
    position: absolute;
    top: 240px;
}

.sum {
    position: absolute;
    right: 200px;
    position: absolute;
    top: 400px;
    transform:rotate(-20deg);
    
}


