@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10 m-10">"Welcome Teacher."</h1>
    <br />
    <h3>Now you can manage your Students seemlessly.</h3>

    <br />
    

   <div class="heart">
    <h1>♥</h1>
    </div>

    <div class="note"><h1> ♫</h1></div>
   <h1>☻</h1>
</div>
